{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
<style>
    .chart-container {
        
        display: flex; /* Utiliza flexbox para colocar los gráficos en línea */
        justify-content: space-between; /* Distribuye los gráficos uniformemente a lo largo del contenedor */
        margin-bottom: 20px; /* Agrega un espacio entre los gráficos y otros elementos */
        background-color: white;
        
    }

    .chart {
        
        width: 100%;
        min-height: 300px;
        background-color: whitesmoke; /* Cambia el color de fondo del contenedor */
        border-radius: 10px; /* Añade bordes redondeados al contenedor */
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 70px;
        margin-inline-start: 250px;
        font-weight: bold;
        unicode-bidi: isolate;
    }



    @media screen and (max-width: 500px) {
    .top-right-link { /*Ir al listado botón*/
        position: relative;
        top:22px;
        left: 100px;
    }

    h2 {
        margin-block-start: 65px;
        margin-inline-start: 105px;
    }

    .chart-container{
        width: 100%;
        display: block;
        padding-top: 5%;
    }
    .chart{
        width: 106%;
        left: -20px;
        word-wrap: break-word;
    }
    

    }

    @media (min-width: 501px) and (max-width: 767px) {
        h2 {
            margin-block-start: 71px;
            margin-inline-start: 245px;
        }
        .top-right-link { /*Ir al listado botón*/
            position: relative;
            top:15px;
            left: 250px;
        }
        
        .chart-container {
            width: 100%;
        }
        
        .chart {
            width: 120%;
        }
    }

    /* Media Queries para pantallas más pequeñas */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        h2 {
            margin-block-start: 71px;
            margin-inline-start: 245px;
        }
        .top-right-link { /*Ir al listado botón*/
            position: relative;
            top:15px;
            left: 250px;
        }

        .chart{
            width: 150%;
        }
    }

    @media screen and (min-width: 1025px){
        h2 {
            margin-block-start: 71px;
            margin-inline-start: 245px;
        }
        .top-right-link { /*Ir al listado botón*/
        position: relative;
        top:15px;
        left: 250px;
     }
    }
    
</style>
{% endblock %}

<main role="main">
    <div class="container mt-3">
            <div class="border px-3 py-4">
                <h2 class="h2">Ventas</h2>
                <a href="{% url 'venta_list' %}" class="top-right-link">Listado de ventas</a>
                <div class="container mt-4">
                    <div class="row">
                        <nav id="ventasdash" class="ventasdash">
                        <div class="col-md-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="chart-container">
                            
                                        <div id="chart2" class="chart"></div>

                                    </div> 
                                    <div class="chart-container">
                                        <div id="chart3" class="chart" ></div> 

                                    </div>   
                                    <div class="chart-container">
                                        <div id="chart" class="chart" ></div> 

                                    </div>   
                                </div>
                            </div>
                        </main>

                        <!-- Apache ECharts -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
                        <!-- Custom JS -->
                        <script src="{% static 'js/main2.js' %}"></script>
                        {% endblock %}
