{% extends 'core/base_admin.html' %}
{% load static %}


{% block extrahead %}
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
  
/>


<link rel="stylesheet" href="{% static 'css/admin_main_styles.css' %}" />
{% endblock %}

{% block content %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-12 border">
        <h3 class="px-5 py-4" style="text-align: center;">
          Contenido de la  // Dashboard de inicio
        </h3>
        <!-- Aquí va el contenido de la página -->
      </div>
    </div>
  </div>
</main>


{% endblock %}