{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
{% endblock %}
<style>
    .errorlist {
        color: red;
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #f7f7f7;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .titulo {
        font-family: 'Sigmar', sans-serif;
        /*color: #333;*/
        font-size: 30px;
        top: 1000px;
        text-align: left;
    }

    .form-label {
        font-size: 16px;
        color: #333;
    }

    .form-control {
        width: 30%;
        height: 40px;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .button {
        background-color: #87963C;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 20%;
        margin-top: 10px;
        font-size: 16px;
    }

    .button:hover {
        background-color: #65702d;
        color: white;
    }

    .message {
        color: green;
        text-align: center;
    }

    .error-message {
        color: red;
        text-align: center;
    }

    h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 80px;
    margin-block-end: 0px;
    margin-inline-start: 250px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    }

    @media (max-width: 500px) {
        h2{
            margin-block-start: 75px;
            margin-inline-start: 115px;
        }

        section {
            flex-direction: column;
            align-items: center;
        }

        .form-control{
            display: block;
            width: 100%;
            word-wrap: break-word;
        }

        .button{
            width: 90px;
            height: 44px;
        }

    }
    @media (min-width: 501px) {
        h2{
            margin-block-start: 70px;
            margin-inline-start: 250px;
        }
        section {
            flex-direction: column;
            align-items: center;
        }

        .form-control{
            width: 90%;
            word-wrap: break-word;
        }

        .button{
            width: 90px;
            height: 47px;
        }
    }


</style>
<main role="main">
    <div class="container col-12 mt-3">
        <h2 class="h2">Editar perfil</h2>
    <section>
            <nav id="profileedit" class="profileedit">
                <div class="col-12 mt-3 border">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ user_data.id }}" name="user_id" id="user_id">
                        <input type="hidden" value="{{ groups.id }}" name="grupo" id="grupo">
                        <div class="row">
                            <div class="col-10 col-sm-4 mb-3">
                                <label for="name">Nombre (*)</label>
                                <input type="text" id="name" name="name" value="{{user_data.first_name}}" pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+" class="form-control border border-danger" required/>
                                <label for="last_name">Apellido (*)</label>
                                <input type="text" id="last_name1" name="last_name1" value="{{user_data.last_name}}" pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+" class="form-control border border-danger" required/>
                            </div>

                            <div class="col-11 col-sm-4 mb-3">
                                <label for="phone">Número de contacto (*)</label>
                                <input type="tel" id="phone" name="phone" pattern="[0-9]{9}" value="{{profile_data.mobile}}" class="form-control border border-danger" required/>
                            </div>
                            <div class="mb-0 col-md-12">
                                <label for="proveedor_name" class="form-label">Rut (Campo no editable): </label>
                                <span class="form-label" id="proveedor_name">{{profile_data.rut}}</span>
                            </div>
                            <div class="mb-0 col-md-12">
                                <label for="proveedor_name" class="form-label">Email (Campo no editable): </label>
                                <span class="form-label" id="proveedor_name">{{profile_data.email}}</span>
                            </div>

                            <div class="col-11 col-sm-4 mb-3">
                                <label for="address">Dirección</label>
                                <input type="text" id="address" name="address" value="{{profile_data.address}}" class="form-control border border-danger" required/>
                            </div>
                            <div class="col-11 col-sm-4 mb-3">
                                <label for="region">Región</label>
                                <select name="region" id="region" value="{{profile_data.region}}" class="form-control border border-danger" required>
                                    <option value="">Seleccione una región</option>
                                    <option value="Region Metropolitana de Santiago" {% if profile_data.region == "Region Metropolitana de Santiago" %}selected{% endif %}>Región Metropolitana de Santiago</option>
                                </select>
                            </div>
                            <div class="col-11 col-sm-4 mb-3">
                                <label for="comuna">Comuna</label>
                                <select name="comuna" id="comuna" class="form-control border border-danger" required>
                                    <option value="">Seleccione una comuna</option>
                                    <optgroup label="Región Metropolitana de Santiago">
                                        <option value="Providencia" {% if profile_data.comuna == "Providencia" %}selected{% endif %}>Providencia</option>
                                        <option value="Santiago" {% if profile_data.comuna == "Santiago" %}selected{% endif %}>Santiago</option>
                                        <option value="San Bernardo" {% if profile_data.comuna == "San Bernardo" %}selected{% endif %}>San Bernardo</option>
                                        <option value="Maipú" {% if profile_data.comuna == "Maipú" %}selected{% endif %}>Maipú</option>
                                        <option value="Buin" {% if profile_data.comuna == "Buin" %}selected{% endif %}>Buin</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-11 col-sm-6 mb-3">
                                    <input type="submit" value="Editar" class="button form-control">
                                    <a href="{% url 'admin_main'%}" class="button form-control">Volver</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </section>
</main>
{% endblock %}
