{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-4'>
        <h2 class='h2 medium text-blue'>Nuevo Proveedor</h2>
    </header>
    <div class="col-md-11">
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <form method="post" action="{% url 'orden_save' %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <div class="mb-0 col-md-6">
                            <label for="proveedor_orden" class="form-label">Proveedor</label>
                            <select class="form-select" name="proveedor_orden" id="proveedor_orden" required>
                                <option value="">Selecciona un proveedor</option>
                                {% for proveedor in proveedores %}
                                    <option value="{{ proveedor.proveedor_name }}">{{ proveedor.get_nombre_completo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-0 col-md-6">
                            <label for="producto_orden" class="form-label"> Producto </label>
                            <select class="form-select" name="producto_orden" id="producto_orden" required>
                                <option value="">Selecciona un Producto</option>
                                {% for producto in productos %}
                                    <option value="{{ producto.supply_name }}">{{ producto.get_nombre_producto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-0 col-md-6">
                            <label for="unidad_orden" class="form-label"> Unidad </label>
                            <select class="form-select" name="unidad_orden" id="unidad_orden" required>
                                <option value="">Seleccione la unidad</option>
                                {% for unidad in unidades %}
                                    <option value="{{unidad}}">{{ unidad }}</option>
                                {% endfor %} 
                                <option value="kg">kg</option>   
                                <option value="LATA (330 ml)">LATA (330 ml)</option>
                            </select>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="cantidad_orden" class="form-label"> Cantidad </label>
                                <input type="number" class="form-control" name="cantidad_orden" id="cantidad_orden" placeholder="Cantidad" style="text-transform: capitalize;" required>
                                <div class="feedback body--small normal"></div>
                                </div>
                        <div class="mb-0 col-md-4">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button">Crear</button>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'orden_main' %}" class="button">Regresa</a>
                                </div>  
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}
