{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}
    <title>Listado de Ordenes de Compra</title>
{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-5'>
        <h2 class='h2 medium text-blue'>Ordenes de Compra Aceptadas</h2>
    </header>
    <div class="d-flex flex-column flex-lg-row my-5">
        <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
            <div class="feedback body--small normal"></div>
        </div>
        <form method="get" action="{% url 'orden_list_enviada' %}" class='col-12 col-lg-6 input-container-search my-auto me-3'>
            {% csrf_token %}
            <input name="search" id="search" type="text" placeholder='Buscar por Nombre'/>
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="table-container mt-5">
        <table class="table table-user" style="text-align: center;">
            <thead>
                <tr>
                    <th width="10%" scope="col">Número de Orden</th>
                    <th width="10%" scope="col">Proveedor</th>
                    <th width="10%" scope="col">Cantidad de Productos</th>
                    <th width="10%" scope="col">Acciones</th>
                    <th width="10%" scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                    <tr>
                        <td>{{ orden.id }}</td>
                        <td>{{ orden.proveedor_orden }}</td>
                        <td>{{ orden.producto_orden_set.all|length }}</td>
                        <td>
                            <a href="{% url 'detalle_orden_de_compra_aceptada' orden_id=orden.id %}" class="btn btn-primary">Ver</a>
                        </td>
                        <td>
                            <!-- Modal -->
                            <div class="modal fade" id="estadoOrden{{ orden.id }}" tabindex="-1" aria-labelledby="estadoOrden{{ orden.id }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form id="estadoForm{{ orden.id }}" method="post" action="{% url 'cambiar_estado_orden_aceptada' orden.id %}">
                                                {% csrf_token %}
                                                <div class="col-sm-8 d-flex justify-content-between align-items-center">
                                                    <select name="nuevo_estado" id="nuevo_estado{{ orden.id }}" class="form-select me-2">
                                                        <option value="" selected disabled>Seleccione un estado</option>
                                                        <option value="anulado">Anulado</option>
                                                    </select>
                                                    <button type="button" class="btn btn-primary" onclick="confirmarEnvio('{{ orden.id }}', '{{ orden.id }}')">Enviar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center mx-0-5--custom">
            <a href="{% url 'lista_orden' grupo_id=1 %}" class="button">Regresar</a>
        </div>    
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if pagina_obj.has_previous %}
                <a href="?pagina=1">&laquo; Primera</a>
                <a href="?pagina={{ pagina_obj.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ pagina_obj.number }} de {{ pagina_obj.paginator.num_pages }}.
            </span>
    
            {% if pagina_obj.has_next %}
                <a href="?pagina={{ pagina_obj.next_page_number }}">Siguiente</a>
                <a href="?pagina={{ pagina_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    <script>
        function confirmarEnvio(ordenId, ordenNumero) {
            const select = document.getElementById(`nuevo_estado${ordenId}`);
            if (!select.value) {
                alert('Debe seleccionar un estado nuevo para la orden');
            } else if (confirm(`¿Estás seguro de cambiar el estado de la Orden #${ordenNumero}?`)) {
                document.getElementById(`estadoForm${ordenId}`).submit();
            }
        }
    </script>
    
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}
