{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
<style>
    body {
        display: flex;
    }
    .chart-container {
        flex: 1; /* Esto hará que la chart-container ocupe el espacio disponible */
        margin-top: 90px; /* Ajusta la distancia desde la parte superior de la ventana */
        padding: 20px; /* Espacio alrededor del contenido del contenedor */
        display: flex; /* Utiliza flexbox para colocar los gráficos en línea */
        justify-content: space-between; /* Distribuye los gráficos uniformemente a lo largo del contenedor */
        border-radius: 15px;
        width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
        height: 600px; /* Ajusta la altura del contenedor */
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 70px;
        margin-inline-start: 250px;
        font-weight: bold;
        unicode-bidi: isolate;
    }


    .chart {
        width: 84%;
        min-height: 300px;
        background-color: #ffffff; /* Cambia el color de fondo del contenedor */
        border-radius: 10px; /* Añade bordes redondeados al contenedor */
    }

    @media screen and (max-width: 500px) {
        h2 {
            margin-block-start: 65px;
            margin-inline-start: 75px;
        }

        .top-right-link { /*Ir al listado botón*/
            position: relative;
            top:12px;
            left: 50px;
        }

        .chart-container{
            max-width: 70%;
            display: block;
            padding-top: 5%;
        }
        .chart{
            width: 106%;
            left: -20px;
            word-wrap: break-word;
        }

    }

    @media (min-width: 501px) and (max-width: 767px) {

        h2 {
            margin-block-start: 61px;
            margin-inline-start: 205px;
        }
        .top-right-link { /*Ir al listado botón*/
            position: relative;
            top:15px;
            left: 200px;
        } 
        
        .chart-container{
            width: 100%;
        }
        
        .chart{
            width: 80%;
        }


    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {

        h2 {
            margin-block-start: 61px;
            margin-inline-start: 205px;
        }
        .top-right-link { /*Ir al listado botón*/
            position: relative;
            top:15px;
            left: 200px;
        } 

        .chart{
            width: 85%;
        }
    }

    @media screen and (min-width: 1025px){

        h2 {
            margin-block-start: 61px;
            margin-inline-start: 205px;
        }

        .top-right-link {
            position: relative;
            top:15px;
            left: 200px;
        }
 
        .chart{
            width: 1050px;
            height: 600px;
        }

    }

</style>
{% endblock %}
    <main role="main">
        <div class="container mt-3">
            <div class="border px-3 py-4">
                <h2 class="h2">Órdenes de compra</h2>
        <nav id="ventasdash" class="ventasdash">
            <div class="menu">
                <nav class="ventasdash">
                    <div class=chart>
                        <div id = "chart_oc1" class="chart"></div>
                    </div>
                </nav>
            </div>
        </nav>
        <a href="{% url 'orden_list_enviada' %}" class="top-right-link">Listado de órdenes</a>
            <div class="menu"></div>
        </nav>
    </main>

<!-- Apache ECharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'js/chart_oc_1.js' %}"></script>
{% endblock %}