{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
<style>
    .chart {
        width: 100%;
        min-height: 400px;
    }

    .chart2 {
        width: 100%;
        min-height: 400px;
    }
</style>
    <main role="main">
        <nav id="orderdash" class="orderdash">
            <div class="menu">
                <nav class="orderdash">
                    <div class=chart>
                        <div id = "chart_oc1" class="chart"></div>
                    </div>
                    <div class=chart>
                        <div id = "chart_oc2" class="chart2"></div>
                    </div>
                </nav>
            </div>
        </nav>
        <nav id="orderbar" class="orderbar">
            <div class="menu">
                <nav class="orderbar">
                    <div class="menu_content">
                        <ul class="menu_items">
                            <li class="item">
                                <a href="{% url 'orden_crear' %}" class="nav_link submenu_item">
                                    </span>
                                    <span class="navlink">Nueva orden de compra</span>
                                </a>
                                <ul class="menu_items submenu">
                                    <li><a href="{% url 'orden_crear' %}" class="nav_link sublink">Orden crear</a></li>
                                </ul>
                                <a href="{% url 'carga_masiva_user' %}" class="nav_link submenu_item">
                                    </span>
                                    <span class="navlink">Carga masiva</span>
                                </a>
                                <ul class="menu_items submenu">
                                    <li><a href="{% url 'carga_masiva_user' %}" class="nav_link sublink">Carga masiva user</a></li>
                                </ul>
                                <a href="{% url 'lista_orden' grupo_id=1 %}" class="nav_link submenu_item">
                                    </span>
                                    <span class="navlink">Listado de ordenes</span>
                                </a>
                            <ul class="menu_items submenu">
                                <li><a href="{% url 'lista_orden' grupo_id=1 %}" class="nav_link sublink">Lista orden</a></li>
                            </ul>                               
                            <a href="{% url 'admin_main' %}" class="nav_link submenu_item">
                                </span>
                                    <span class="navlink">Volver</span>
                            </a>
                        <ul class="menu_items submenu">
                            <li><a href="{% url 'admin_main' %}" class="nav_link sublink">Volver</a></li>
                    </div>

            </div>
        </nav>
    </main>

<!-- Apache ECharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'js/chart_oc_1.js' %}"></script>
{% endblock %}