{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
<style>
    .chart-container {
        
        display: flex; /* Utiliza flexbox para colocar los gráficos en línea */
        justify-content: space-between; /* Distribuye los gráficos uniformemente a lo largo del contenedor */
        margin-bottom: 20px; /* Agrega un espacio entre los gráficos y otros elementos */
    }

    .chart {
        
        width: 48%;
        min-height: 300px;
        background-color: #ffffff; /* Cambia el color de fondo del contenedor */
        border-radius: 10px; /* Añade bordes redondeados al contenedor */
    }
    
    
</style>
{% endblock %}
<main role="main">
    <div class="container mt-3">
        <div class="border px-3 py-4">
            <nav id="proveedorbar" class="proveedorbar">
                <div class="col-12 mt-3 border">
                    <div class="row mt-4 mb-4">
                        <div class="col-12 col-sm-3 mb-3" style="text-align: center;">
                            <li class="item">
                                <a href="{% url 'proveedores_activos' %}" class="nav_link submenu_item">
                                    </span>
                                    <span class="navlink">Listado de proveedores</span>
                                </a>
                                <a href="{% url 'proveedores_crear' %}" class="nav_link submenu_item">
                                    </span>
                                    <span class="navlink">Crear Proveedor</span>
                                </a>
                                    <a href="{% url 'admin_main' %}" class="nav_link submenu_item">
                                    </span>
                                    <span class="navlink">Volver</span>
                                </a>
                        </div>
                    </div> 
                </div> 
            </nav>
        </div>
    </div>
    <tr>
        <th width="80%" scope="col"></th>
        <th width="20%" scope="col"></th>
    </tr>
    <!-- Dashboard -->
    <td>
    <div class="container mt-4">
        <div class="row">
            <nav id="proveedordash" class="proveedordash">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Dashboard de Proveedores</h5>
                        <div class="card-body">
                            <h5 class="card-title">Contadores</h5>
                            <div class="text-right text-white bg-info mb-3">
                                <h6 class="card-subtitle mb-2">Proveedores Activos</h6>
                                <p class="card-text">{{ proveedores_activos_count }}</p>
                            </div>
                            <div class="text-right text-white bg-danger">
                                <h6 class="card-subtitle mb-2">Proveedores Eliminados</h6>
                                <p class="card-text">{{ proveedores_eliminados_count }}</p>
                            </div>
                            <div style="width: 400px; height: 400px;">
                                <canvas id="proveedoresPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

        </td>
</main>

<!-- Código JavaScript para renderizar el gráfico de pastel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    var ctx = document.getElementById('proveedoresPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Activos', 'Eliminados', 'Total'],
            datasets: [{
                label: 'Distribución de Proveedores',
                data: [{{ proveedores_activos_count }}, {{ proveedores_eliminados_count }}, {{ total_proveedores_count }}],
                backgroundColor: ['#85E0A3', '#99BEBE', '#EAFB6B']
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true, // Si deseas mostrar la leyenda
                    position: 'bottom' // Cambia esto a 'top', 'left' o 'right' si prefieres otra posición
                }
            }
        }
    });
</script>

{% endblock %}

