{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-4'>
        <h2 class='h2 medium text-blue'>Agregar producto</h2>
    </header>
    <div class="col-md-11">
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <form method="post" action="{% url 'producto_save' %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <div class="mb-0 col-md-12">
                            <label for="supply_name" class="form-label">Producto</label>
                            <input type="text" class="form-control" name="supply_name" id="supply_name" placeholder="Nombre producto" style="text-transform: capitalize;" required>
                            <div class="feedback body--small normal"></div>
                        </div>

                        <div class="mb-0 col-md-12">
                            <label for="supply_code" class="form-label">Código</label>
                            <input type="text" class="form-control" name="supply_code" id="supply_code" placeholder="Código producto" style="text-transform: capitalize;" required>
                            <div class="feedback body--small normal"></div>

                        <div class="mb-0 col-md-12">
                            <label for="supply_unit">Unidad</label>
                            <select name="supply_unit" id="supply_unit" value="{{product_data.supply_unit}}"class="form-control border border-danger" required>
                                <option value="">Seleccione la unidad</option>
                                {% for supply_unit in supply_unit %}
                                    <option value="{{supply_unit}}">{{ supply_unit }}</option>
                                {% endfor %} 
                                <option value="kg">kg</option>   
                                <option value="LATA (330 ml)">LATA (330 ml)</option>
                                </select>
                        </div>    
                        <div class="mb-0 col-md-12">
                            <label for="supply_input" class="form-label">Cantidad Agregada</label>
                            <input type="number" class="form-control" name="supply_initial_stock" id="supply_initial_stock" placeholder="Cantidad" style="text-transform: capitalize;" required>
                            <div class="feedback body--small normal"></div>
                        </div>           
                      </div>  
                        <div class="mb-0 col-md-12" style="margin-top: 50px;">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button">Crear</button>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'carga_masiva_producto' %}" class="button">Carga Masiva</a>
                                </div>  
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'inventario_main' %}" class="button">Regresa</a>
                                </div>  
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}
