{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
{% block extra_css %}    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    /* Estilos específicos para el contenedor del listado */
    .list-container {
        background-color: #fff; /* Establecer el color de fondo blanco */
        padding: 20px; /* Ajustar el relleno según sea necesario */
        border-radius: 10px; /* Agregar bordes redondeados */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra */
        margin-bottom: 20px; /* Agregar margen inferior */
    }
</style>
{% endblock extra_css %}    

<div class="list-container"> <!-- Nuevo contenedor para el listado -->
    <header class='mb-5'>
        <h2 class='h2 medium text-blue'>Lista de Proveedores</h2>
        <div class="row " style=" display: flex; justify-content: center;">
            <div class="col-12 col-sm-3 mb-3">
                <a href="{% url 'proveedores_crear' %}" class="boton form-control">Agregar proveedor</a>                 
            </div>                                            
        </div>
        <div class="row " style=" display: flex; justify-content: center;">
            <div class="col-12 col-sm-3 mb-3">
                <a href="{% url 'carga_masiva_proveedor' %}" class="boton form-control">Carga masiva</a>               
            </div>                                            
        </div>
    </header>

    <div class="d-flex flex-column flex-lg-row my-5">
        <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
            <div class="feedback body--small normal"></div>
        </div>
        <form method="get" action="{% url 'proveedor_list' %}" class='col-12 col-lg-6 input-container-search my-auto me-3'>
            {% csrf_token %}
            <input name="search" id="search" type="text" placeholder='Buscar por Nombre'/>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div class="table-container mt-5">
        <div class="table-wrapper">
            <table class="table table-user">
                <thead>
                    <tr>
                        <th width="10%" scope="col">Nombre</th>
                        <th width="10%" scope="col">Telefono de contacto</th>
                        <th width="10%" scope="col">
                            <a href="{% url 'descarga_reporte' %}" title="Descarga Proveedores">
                                <span class="material-icons-outlined">
                                    cloud_download
                                </span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in ordenes %} 
                        <tr>
                            <th scope="row">{{p.proveedor_name}}</th>
                            <th scope="row">{{p.proveedor_last_name}}</th>
                            <th scope="row">{{p.proveedor_phone}}</th>
                            
                            <td>
                                <a href="{% url 'proveedor_ver' p.id %}">Ver</a>
                                <a href="{% url 'proveedor_edit' p.id%}">Editar</a>
                                <a href="#" onclick="confirmDelete('{{ p.id }}')">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if ordenes.has_previous %}
                <a href="?pagina=1{% if search %}&search={{ search }}{% endif %}">&laquo; Primera</a>
                <a href="?pagina={{ ordenes.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ ordenes.number }} de {{ ordenes.paginator.num_pages }}.
            </span>

            {% if ordenes.has_next %}
                <a href="?pagina={{ ordenes.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Siguiente</a>
                <a href="?pagina={{ ordenes.paginator.num_pages }}{% if search %}&search={{ search }}{% endif %}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
    <!-- Paginación --> 

    <div class="d-flex justify-content-center mx-0-5--custom">
        <a href="{% url 'proveedores_main' %}" class="button">Volver</a>
    </div>    
</div> <!-- Cierre del contenedor -->

{% block extrajs %}   
<script>
    function confirmDelete(id) {
        if (confirm("¿Estás seguro de que deseas eliminar este proveedor?")) {
            window.location.href = "{% url 'proveedor_delete' 0 %}".replace('0', id);
        }
    }
</script>
{% endblock extrajs %}    
{% endblock %}
