{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<style>
    body {
        background-color: rgb(236, 236, 236); /* Establece el fondo de la página a blanco */
    }
    .errorlist { color: red; }
    .pagination { 
        position: fixed;
        bottom: 20px; /* Ajusta esta distancia según tus necesidades */
        left: 50%;
        transform: translateX(-50%);
        display: flex; 
        justify-content: center; 
        z-index: 999; /* Asegura que la paginación esté sobre otros elementos */
        background-color: #9EB23B;
        border-radius: 12px;
        font-weight: bold;
    }
    .pagination .page-item { 
        margin: 0 5px; 
        list-style: none; /* Elimina los estilos de lista */
        height: 30px; /* Altura fija para los elementos <li> */
        display: flex; /* Para usar flexbox */
        align-items: center; /* Centrar verticalmente el contenido */
    } 
    .pagination .page-link { 
        text-decoration: none; 
        color: #000; 
        font-size: 18px; 
        padding: 5px 10px; /* Añade un poco de espacio alrededor del número */
    }
    .pagination .page-item.active .page-link { 
        background-color: #505c14; /* Cambia el color de fondo para la página activa */
        color: #000; /* Cambia el color del texto para la página activa */
        border-radius: 5px; /* Agrega bordes redondeados */
    }
    table {
        border: 2px solid white; /* Agrega un borde de color blanco a la tabla */
        background-color: white; /* Establece el fondo de la tabla a blanco */
        border-radius: 15px; /* Hace las esquinas de la tabla más ovaladas */
        overflow: hidden; /* Asegura que el contenido de la tabla no sobresalga de las esquinas redondeadas */
    }
    table th, table td {
        background-color: white; /* Establece el fondo de las celdas a blanco */
    }
    .header-row {
        background-color: #d3d3d3; /* Establece el color de fondo de la fila de encabezados a gris */
    }
    .action-buttons {
        display: flex;
        align-items: center; /* Alinea los elementos verticalmente */
    }
    .action-buttons a {
        margin-right: 10px; /* Ajusta el espacio entre los botones */
    }
    .btn-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .back-button {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .search-form {
        margin-top: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .btn-volver {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
    }
    .search-form input[type="text"] {
        border-radius: 15px; /* Bordes redondeados */
        background-color: #f0f0f0; /* Color de fondo gris claro */
        border: 1px solid #ccc; /* Borde gris claro */
        padding: 5px 10px; /* Espaciado interno */
        margin-right: 5px; /* Espacio entre el input y el botón */
        margin-top: 15px;
    }
    .search-form button {
        border-radius: 15px; /* Bordes redondeados */
        background-color: #d3d3d3; /* Color de fondo gris claro */
        border: 1px solid #ccc; /* Borde gris claro */
        padding: 5px 10px; /* Espaciado interno */
    }
    .new-user-button {
        margin-left: 15px; /* Espacio entre el título y el botón */
        white-space: nowrap; /* Evita que el texto del botón se divida en varias líneas */
    }
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Alinea elementos al inicio */
        margin-bottom: -10px; /* Espacio entre los tabs y el contenedor */
    }
    .bulk-load-container {
        align-items: right; /* Ajusta esta distancia según sea necesario */
    }
    .bulk-load {
        white-space: nowrap; /* Evita que el texto del botón se divida en varias líneas */
    }
    .nav-tabs {
        display: flex;
        gap: 20px;
        padding-left: 0;
        list-style: none; /* Elimina los puntos de la lista */
    }
    .nav-tabs .nav-item .nav-link {
        border: 1px solid #000000;
        border-radius: 0.25rem;
        border-color: #000000 #000000 #000000;
        padding: 10px 15px;
        color: #000;
        margin-right: -15px;
        background-color: #c8d0a2;;
        text-decoration: none;
    }
    .nav-tabs .nav-item .nav-link.active {
        background-color: #ffffff;
        border-color: #000000 #000000 #ffffff;
    }
    .tabs-and-button-container {
        display: flex;
        justify-content: space-between; /* Alinea los elementos al principio y al final */
        align-items: center; /* Alinea los elementos verticalmente */
    }
    .btn-carga-masiva-container{
        width: 40px;
        height: 40px;
    }
</style>
{% endblock %}
<main role="main">
    <div class="container col-12 mt-3">
        <div class="col-12 mt-3 border">
            <h3 class="px-5 py-4" style="text-align: center;">Seleccionar Proveedores</h3> 
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-12 col-sm-3 mb-3">
                    <a href="{% url 'proveedores_activos' %}" class="btn btn-primary btn-block">Proveedores Activos</a>
                </div>
                <div class="col-12 col-sm-3 mb-3">
                    <a href="{% url 'proveedores_eliminados' %}" class="btn btn-danger btn-block">Proveedores Eliminados</a>
                </div>
                <div class="col-12 col-sm-3 mb-3">
                    <a href="{% url 'proveedores_main' %}" class="btn btn-secondary btn-block">Volver</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

