{% load i18n %}{% autoescape off %}
{% blocktrans %}Este correo electrónico se ha enviado en respuesta a su solicitud para restablecer la contraseña de su cuenta en el sistema Completopia.{% endblocktrans %}
{% trans "Por favor haga click en el siguiente enlace" %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Que tenga un buen dia," %}

{% blocktrans %}Equipo Soluciones Completopia.{% endblocktrans %}

{% endautoescape %}